---
---

@import "{{ site.theme }}";

.page-header {
    background-position: center center;
    background-image: url("https://github.com/hbc/hbc.github.io/blob/master/images/dna-sequence-1600x800.jpg");
    left: 0;
    right: 0;
    background-color: #fff;
}

